*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #DCDAD8;
}
.total{
    background-image: url("/maldives.jpg");
    background-size: cover;
}
.item {
    margin: 2rem;
}

.navbar {
    height: 3rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;
}/*Client slider here*//*Client slider here*/
.positive{
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.client {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px; /* Adjust width to fit 4 cards */
    overflow: hidden;
    position: relative;
}
.client:hover{
    
        transition: transform 0.5s ease,
         opacity 0.5s ease;
    
    
}
.one {
    width:  180px; /* Fixed width for each card */
    height: 180px;
    margin: 5px;
    display: none; /* Hide all cards by default */
    transition: opacity 0.3s ease;
    align-content: center;
    padding: 20px;
   /* background-image: url("/img11.jpg");
    background-size: cover;*/
    border-radius: 10px;
    border: 2px solid #80DFD1;
    position: relative;
    top: 100px;
    
    
}
.one h3{
    position: relative;
    top:-80px;
    color: #80DFD1;
    font-weight: bolder;
    font-size: x-large;
}
.one p{
    color: #0F6C73;
    font-weight: bolder;
}

.cute{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}



.one.visible {
    display: block; /* Show only visible cards */
    box-shadow: 0px 10px 10px rgba(110, 108, 108, 0.3);
}
.one.visible:hover{
    height: 280px;
width: 240px;
.more{
    top:130px;
}
h3{
    top:-135px;

}
}
.one img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.one i{
    color: gold;
    font-size: 12px;
}
#clientpre{
    position: relative;
    top:310px;
    right: 5px;
    font-size: x-large;
    color: #80DFD1;

}
#clientfor{
    position: relative;
    top:310px;
    left: 5px;
    font-size: x-large;
    color: #80DFD1;
    

}
#clientpre:hover{
    font-size: 30px;
color:#0F6C73;
}
#clientfor:hover{
    font-size: 30px;
color:#0F6C73;
}

.feedback{
    height: 50px;
    width: 200px;
    background-color: #80DFD1;
    position: relative;
    left: 43%;
    margin-bottom: 15px;
    text-align: center;
    p{
        text-align: center;
        padding: 12px;
        font-size: 20px;
        color: #0F6C73;
        font-weight: bolder;
    }
}
.feedback:hover{
    opacity: 0.7;
}
.azeem h1{
    color: #0F6C73;
}
#cute1{
    background-image: url("/indonesia.jpg");
    background-size: cover;
}
#cute2{
    background-image: url("/eng.jpg");
    background-size: cover;
}
.cute3{
    background-image: url("/img11.jpg");
    background-size: cover;
}
.cute4{
    background-image: url("img14.jpg");
    background-size: cover;
}
.totalcla{
    background-size: cover;
}
.more{
    height: 20px;
    width: 100px;
    position: relative;
    top:80px;
    background-color: #80DFD1;
    text-align: center;
    padding-top: 3px;
}
.total{
    height: 600px;
}

/*product section now*/
.productsection{
    display: flex;
    align-items: center;
    flex-wrap:wrap ;
    margin-left: 10px;
    justify-content: space-evenly;
    text-align: center;
}
.car1content{
    height:350px;
    margin-top: -20px;
    p{
        color: #DCDAD8;
        font-size: 10px;
    }
}
#poll{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    div{
        margin-top: -20px;
    }
}
#poll i{
    color: #DCDAD8;
    position: relative;
    top: 25px;
    font-size: 20px;
}
#p1{
    left:8px;
}
#p2{
    right: 8px;
}
#p2:hover{
    opacity: 0.8;
}
#p2:active{
    color: #80DFD1;
}
.box{
    height:350px;
    width:22%;
    background-color: #0F6C73;
    padding:20px 0px 15px;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    transition: transform 0.3s ease, border 0.3s ease;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);}
    h3{
        color: #80DFD1;
    }
    
.box:hover{
    border: 1.5px solid #80DFD1;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.om1{
    height:290px;
    background-image: url("/italy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.om2{
    height:290px;
    background-image:url("/japan.jpg");
    background-size: cover;
}
.om3{
    height:290px;
    background-image:url("/indonesia.jpg");
    background-size: cover;
}
.om4{
    height:290px;
    background-image:url("/spain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.om5{
    height:290px;
    background-image:url("/parisfin.jpg");
    background-size: cover;
}

.om6{
    height:290px;

    background-image:url("/germany.jpg");
    background-size: cover;
}
.om7{
    height:290px;

    background-image:url("/china.jpg");
    background-size: cover;
}
.om8{
    height:290px;

    background-image:url("/jordan.jpg");
    background-size: cover;
}



.om9{
    height:290px;
    background-image: url("/maldives.jpg");
    background-size: cover;
}
.om10{
    height:290px;
padding-left: 20px;
    background-image:url("/canada.jpg");
    background-size: cover;
}
.om11{
    height:290px;

    background-image:url("/norway.jpg");
    background-size: cover;
}
.om12{
    height:290px;

    background-image:url("/egypt.jpg");
    background-size: cover;
}
.om13{
    height:290px;

    background-image:url("/korea.jpg");
    background-size: cover;
}
.fazool{
    text-align: center;
    height: 85px;
}
